deploy:
  on:
    condition: "$TOXENV == py35"
    repo: waynr/pyresume
    tags: true
  distributions: sdist bdist_wheel
  password:
    secure: yx5oTMBk8dKMl7JAcZ+9yXWtUeE+lvnea5AV9ONNvbBmiCXSnKyyS2+bEqGGZtwuiCjkFR0B/jFdBeVzZFADm6DxqdQTl46hZhnM6lP/Kno4O8F07VdV3oV2AnbfNUSMg47zDtYFm7tQcRZ1EfGwzziCZHhxs38LQEPRDymEI/wrwg3btpoy088Sd2kXt9gFOi3MD1eNlPj3epAJLz/a6MSwkcvUfnI+Qc9aNJCIjZNEPrnyDMLCuIUm8nl1GnZ3CYy1esqibawvWjl/8UNUuNgWHpf65Gusdunl+hcxC6GEiWlyZDwnn2TcWKjgzco3zAtFl/7EnxxlEf5P4LICtYSrycimuTQOVdWngEJ+PHb0N6Avi8GBjC5C4YDwKqe6IZH0NHe5hOAnk09x7UMjiVNPmeY9LcLLUsgECOo08QC70WixlTifaf+nshLAqbLZHSFWkRWkEl5mNfQZCvGpZUkI723oheTSUETf46hsU08p4ybQl7o7eluapAehOoCbKKCHWW7bxzxeDtMUtYCJ3TIFIaY3sJ+NDQDi0UJGUFjkPq/8iZL2ZKz2roHkgNypiftvOyQHe9+cEXwbU3Ak1t7NvtjP4OIstgo6IlYb/NQzJmqU3D1Gg1BSpPenHp/6SWv/nHzXKk0CJ56kIWZtHv8aqUpMFMFV4MnZsnhVQrE=
  provider: pypi
  user: waynr
env:
- TOXENV=py35
- TOXENV=flake8
install: pip install -U tox
language: python
python: 3.5
script: tox -e ${TOXENV}
sudo: required
services:
- docker
