include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude tests *

recursive-include docs *.rst conf.py Makefile make.bat *.jpg *.png *.gif
recursive-include src *.tex
